pandas==2.2.1
numpy==1.26.4
tqdm==4.66.2
matplotlib
seaborn
scikit-learn
openai
anthropic
google-generativeai
transformers
peft
torch
fschat
accelerate
sentencepiece
pdfplumber==0.11.0
pdf2image==1.17.0
pillow==10.2.0
opencv-python==4.9.0.80
pytesseract==0.3.10
requests==2.31.0
emoji
ipykernel